.info{
    background: #E0E0E0;
    color: black;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor {
    padding: 30px 0;
}
.contenedor .input-res {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 14px 0;
    background-color: #fff;
    border: 2px solid #04b431;
    margin-top: 15px;
    text-decoration: none;
}
.contenedor h2 {
    padding: 12px 0;
}
@media screen and (max-width: 700px){
    .contenedor h2 {
        text-align: center; 
    }
    .contenedor p {
        text-align: justify;
    }
}
@media screen and (max-width: 500px){
    .contenedor h2 {
        font-size: 18px;
        text-align: center; 
    }
    .contenedor p {
        text-align: justify;
    }
}
